<li>
	{{name}}

	<button class="change-eat" data-id="{{id}}" data-neweat="{{sleep}}">
		{{#if sleep}}EATEN!{{else}}NOT EATEN!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>