<li>
	{{name}}

	<button class="change-eaten" data-id="{{id}}" data-newsleep="{{eaten}}">
		{{#if eaten}}YUM!{{else}}EAT IT!{{/if}}
	</button>

	<button class="delete-cat" data-id="{{this.id}}">DELETE!</button>
</li>